<h1>Control Panel</h1><h6> - Your Every moves are being logged</h6>

<div class="cpAdminWrap">

  <div class="iconLink category">
    <%= link_to "Categories", "/categories" %>
  </div>

  <div class="iconLink product">
    <%= link_to "Products", "/products" %>
  </div>

  <div class="iconLink invites">
    <%= link_to "Invites", "/invitations" %>
  </div>

</div>