<div class="product_image">
  <%=image_tag img.medium %>
  <div class="rem_product_image">
    <a href="/prodimage/delete/<%=img.id%>" data-remote="true"><img src="/assets/blank.png" border="0"/></a>
  </div>
</div>