<div id="search_user_wrap" class="right_ttip" title="For privacy reasons, only your <br />Facebook friends are searchable">
  <input autocomplete="off" id="search_user" type="text" size="20" placeholder="Search teammates" />
  <div id="search_notif_not_found">User not found</div>
</div>