<div id="boocampWrap">
    <div class="boocampHead">YoungVarsity Bootcamp - <span>New to this? Here is where you can get started</span></div>
    <div class="boocampBody"> 
      <ul>
        <li id="profile">
          <%= link_to "Set Up your Profile", "/profile" %>
          <strong>1</strong>
        </li>
        <li>
           <%= link_to "Filling up your page", "/media" %>
          <strong>2</strong>
        </li>
        <li>
           <%= link_to "Team, create or join one", "/team" %>          
          <strong>3</strong>
        </li>
        <li>
          <%= link_to "Be Social", "/team" %>  
          <strong>4</strong>
        </li>
      </ul>
    </div>
</div>