<div id="googleplus_photo_src_dlg">
  <p>Import Photos from Google+ Album Shared via link</p>
  <input type="text" id="googleplus_photo_src" placeholder="Insert Google+ Album url" autocomplete="off" />
  <div class="btn-small btnred right" id="import_album_googleplus">Fetch photos</div>
</div>