<div id="photo_edit_dialog">
  <div class="dialog_intro">Zoom & Drag the image to adjust.</div>
  <div style="float: right; margin: 5px 10px;" id="crop_img_btn" class="btn btn-danger disabled">Apply Crop</div>
  <div class="photo_dialog_img_wrap"></div>
</div>

