<div id="fetched_photo_selection">
  <h3 style="line-height: 34px;">
    Select the photos you'd like to import
  </h3>
  <div class="btn btn-small right" id="import_photos_btn">Import</div> <div style="line-height: 34px;" class="right close_dlg">cancel</div>
  <div id="wrapper"></div>

</div>