<div id="photo_src_selection">
  <div id="photo_import_picasa">
    Import from Picasa
  </div>
  <div id="photo_import_facebook" class="ttip FBphotoSelect" data-form-id="upload_facebook_photo" title="This feature is not yet available">
    Import from Facebook
  </div>
  <div id="photo_import_googleplus">
    Import from Google+
  </div>

  <div id="photo_import_upload">
    Upload from your PC
    <%= render :partial => "upload_photo" %>
  </div>
</div>

