<div id="picasa_photo_src_dlg">
  <p>Import Photos from Picasa Album Shared via link</p>
  <input type="text" id="picasa_photo_src" placeholder="Insert Picasa Album url" autocomplete="off" />
  <div class="btn-small btnred right" id="import_album_picasa">Fetch photos</div>
</div>