<style type="text/css">
h2 {
  float: left;
  font-size: 24px;
  color: #0d3681;
  margin: 110px 20px 0 55px;
  line-height: 36px;
}

.signup_wrap {
  float: right;
  margin: 16px 100px 0;
}

ul.text-ul {
  float: left;
  margin: 10px 0 10px 80px;
  color: #0d3681;
  list-style-position: inside;
}

</style>

<div id="landpage_col_left">
  <h2>
      Welcome to YoungVarsity, Come in and create your own Personal Sports Identity page for FREE!
  </h2>
  <ul class="text-ul">
    <li>Add photos & Videos of your best moments</li>
    <li>Input your Stats</li>
    <li>Select your equipments wishlist</li>
  </ul>

  <div class="signup_wrap">



    <div class="signup_btn button-special yellow btn btnbig">
      <%= link_to "SIGN UP!", "#"  %>
    </div>
    <!-- <div class="login_btn">Already a member?
      <%#= link_to "Login", "#"  %>
    </div> -->
  </div>

</div>
<div id="landpage_center" >
  <div class="intro_slides">
    <ul class="slides">
      <li>
        <img width="647" height="498" src="/assets/landingpage_slide1.jpg" />
      </li>
      <li>
        <img width="647" height="498" src="/assets/landingpage_slide2.jpg" />
      </li>
      <li>
        <img width="647" height="498" src="/assets/landingpage_slide3.jpg" />
      </li>
      <li>
        <img width="647" height="498" src="/assets/landingpage_slide4.jpg" />
      </li>
    </ul>
  </div>

</div>

