<h1>Where young athletes meet<!-- An athlete page Just for you! --></h1><div class="signup_btn btn main_panel">Join for free</div>
<h3>Sign up now and quickly create your own personal athlete page</h3>
<div style="float: right; clear: right;">Already a member?  <%= link_to "Login", user_omniauth_authorize_path(:facebook) %> </div>
<div id="landing_page_preview">

	<h2>Who's on YoungVarsity:</h2>

	<div class="previewThumb" id="football1" data-track="football_jeffrey" data-image="preview_football1_large.jpg"><div></div></div>

	<div class="previewThumb" id="baseball1" data-track="baseball_ryan" data-image="preview_baseball1_large.jpg"><div></div></div>

	<div class="previewThumb" id="basketball" data-track="basketball_ernest" data-image="preview_basketball_large.jpg" style="margin-right: 0;"><div></div></div>

	<div class="previewThumb" id="baseball2" data-track="baseball_jordan" data-image="preview_baseball2_large.jpg"><div></div></div>

	<div class="previewThumb" id="football2" data-track="football_adam" data-image="preview_football2_large.jpg"><div></div></div>

	<div class="previewThumb" id="lacrosse" data-track="lacrosse_mark" data-image="preview_lacrosse_large.jpg" style="margin-right: 0;"><div></div></div>

</div>



<!-- <div id="comment_wrapper">
	<h2>Leave feedback - let us know what you think</h2>
	<div class="fb-comments" data-href="http://beta.youngvarsity.com" data-num-posts="2" data-width="670"></div>
</div> -->

<div id="profile_dialog" >
	<div class="profile_preview"></div>
	<div class="profile_preview_footer">
		<h3>Join now and quickly create your own personal athlete page</h3>
		<div style="margin-top: 15px;" class="signup_btn btn profile_panel">Join for free</div><div class="close_dlg">Back</div>
	</div>
</div>

<div class="preloadImg">
	<div class="preload1"></div><div class="preload2"></div><div class="preload3"></div><div class="preload4"></div><div class="preload5"></div><div class="preload6"></div>
</div>