
<div style='width: 575px;margin: 10% auto 0;'>
	<div class="middle_message">
		<%if current_user%>
		<%="Hey #{current_user.firstname},"%>
		<br />
		<%end%>
		We've got your invite request, but we're running in private beta mode.<br />
		We'll let you know as soon as we'll open membership to a wider audience.
		<span>The YoungVarsity Team</span>
	</div>
</div>