<h1>Editing product</h1>

<%= render 'form', editing: true %>
<%= render 'product_img_upload' %>


<div style="clear: both; float: left">
  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
</div>