 <div>
    <div class="copyright">2013 &copy; YoungVarsity
      <div class="right">
        <%= link_to "Terms of Service", "/terms" %> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
        <%= link_to "Privacy", "/privacy" %>
    </div></div>
 </div>