 <div class="footer">
    <div class="copyright">&copy; YoungVarsity &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
      <span><a href="http://madeintlv.org"> Made in TLV</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
        <%= link_to "Terms of Service", "/terms" %> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;
        <%= link_to "Privacy", "/privacy" %>

      </span><div class="right"><%= link_to "Contact Us", "/contact-us"  %></div></div>
 </div>