<div id="SharePsiDlg">
  <div class="col_left">
    <div class="psi_preview" style="background-image: url('<%=userPsiFramedImage%>')"></div>
  </div>
  <div class="col_right">
    <div id="share_psi_onfb" class="btn blue-fb">SHARE PSI</div>
  </div>

</div>